{% extends 'my_note/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Вход в систему</h3>
            </div>
            <div class="card-body">
                <form class="row" method="post" enctype="multipart/form-data">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                {% csrf_token %}
                                {{ form.as_p }}
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Войти
                            </button>
                        </div>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Создать аккаунт? <a href="{% url 'users:register' %}" class="ml-2">Зарегистрироваться</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
