{% extends 'my_note/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Регистрация</h3>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Зарегистрироваться</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Уже есть аккаунт? <a href="{% url 'users:login' %}" class="ml-2">Войти</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
